:root {
  --accent-colour: rgb(129, 3, 35);
  --dark-accent-colour: rgb(68, 0, 29);
}

@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Mulish:wght@300&family=Noto+Sans+TC:wght@300&display=swap');
* {
  font-family: 'Noto Sans TC', sans-serif;
  text-decoration: none;
}

body {
  margin: 0px;
  background-image: linear-gradient(rgb(222, 224, 228), rgb(255, 255, 255));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: rgb(36, 43, 65);
}

main {
  padding-bottom: 4em;
}

img {
  max-width: 95%;
}

a {
  color: var(--accent-colour);
}

a:hover {
  font-weight: bold;
}

.animated-button {
  background: rgb(30, 2, 75);
  color: aliceblue;
  font-weight: bold;
  line-height: 150%;
  border-radius: 20px;
  padding: 0.5% 2%;
  border: 1px solid rgb(30, 2, 75);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.animated-button span {
  font-size: x-small;
  position: relative;
  transition: all 0.45s ease-Out;
}

.circle {
  width: 0%;
  height: 0%;
  opacity: 0.5;
  border-radius: 50%;
  background: whitesmoke;
  position: absolute;
  transition: all 0.5s ease-in-out;
  top: 25%;
  left: 50%;
}

.animated-button:hover .circle {
  width: 300%;
  height: 500%;
  opacity: 1;
  top: -150%;
  left: -100%;
}

.animated-button:hover span {
  color: #060b27;
}

#logo {
  width: 30px;
}

#logo-title {
  display: inline-block;
}

.signed-in {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 4%;
  max-width: 41%;
  text-align: left;
}

.signed-in p {
  font-family: 'Cardo', serif;
  font-style: italic;
  font-size: smaller;
  color: rgb(83, 83, 83);
  margin-right: 12px;
}

h2 {
  font-family: 'Cardo', serif;
  width: fit-content;
  display: inline;
  margin-left: 16px;
  text-shadow: -1px 2px 4px rgb(2, 7, 54);
  color: rgb(248, 229, 227);
  letter-spacing: 0.1em;
}

h3 {
  font-family: 'Cardo', serif;
  font-size: x-large;
}

h4 {
  font-family: 'Cardo', serif;
}

header {
  background-color: rgb(30, 2, 75);
  box-shadow: 0px 2px 2px 0px rgb(2, 7, 54);
}

p {
  margin: 0px;
}

.topics {
  margin: 0.3rem 0;
  font-size: medium;
  box-shadow: inset 0px -7px 12px -12px var(--accent-colour);
}

.topics a {
  font-family: 'Cardo', serif;
  padding: 0 0.5em;
  color: var(--dark-accent-colour);
}

.topics :hover {
  box-shadow: inset 0px -10px 10px -8px var(--accent-colour);
  color: var(--dark-accent-colour);
  font-weight: bold;
  transition: 300ms ease-in-out;
}

.topics a.active-topic {
  font-weight: bolder;
  color: var(--accent-colour);
}

ul {
  list-style-type: none;
  padding: 0px 5%;
}

.article-list-item {
  background-color: rgba(255, 255, 255, 0.979);
  margin-bottom: 7px;
  padding: 15px;
  border-radius: 7px;
  box-shadow: -1px 2px 5px 0px rgb(118, 133, 139);
}

.article-list-item :hover {
  opacity: 0.9;
  transition: 300ms;
  font-weight: bolder;
}

.article-list-item h4 {
  margin: 0px 0px 10px 0px;
  color: var(--accent-colour);
}

.article-list-item-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--dark-accent-colour);
}

.article-list-item-img {
  width: 100%;
  border-radius: 7px;
}

article {
  margin: 0px 8%;
  padding: 10px 0px 25px;
}

.article-content {
  font-weight: 600;
  margin: 0px 4%;
}

article img {
  border-radius: 3px;
  box-shadow: -1px 1px 3px 0px slategray;
  margin: 7px 0px 20px;
}

.full-article-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: small;
  margin: 0px 8%;
  color: rgb(85, 106, 122);
}

.full-article-info a {
  color: rgb(85, 106, 122);
}

article .votes-container {
  margin: 1em;
  display: flex;
  justify-content: center;
}

.user-profile-avatar-img {
  max-width: 22%;
  max-height: 22%;
  border-radius: 25%;
  border: 5px solid rgb(255, 250, 219);
}

.user-profile h4,
h3 {
  margin: 1rem 0 0 0;
}

.user-stats {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 85vw;
}

.user-stats div {
  min-width: 33%;
  border-left: 1px solid var(--accent-colour);
  border-right: 1px solid var(--accent-colour);
}

.vote-button {
  border: none;
  background: none;
  min-width: 35px;
  min-height: 30px;
  cursor: pointer;
}

.vote-button:hover {
  transform: scale(1.25);
}

.vote-button:active {
  transform: scale(1.1);
}

.new-comment-form-container {
  font-size: smaller;
  margin: 25px 6% 0.5rem;
  padding: 20px 2% 30px;
  border-bottom: 1px solid rgb(206, 206, 206);
  border-top: 1px solid rgb(206, 206, 206);
}

.new-comment-form-container form {
  display: flex;
  flex-direction: column;
  padding: 0px 7%;
}

.new-comment-form-container span {
  display: block;
  text-align: left;
}

.new-comment-form-container textarea {
  margin-top: 5px;
  width: 100%;
  min-width: 20%;
  min-height: 20%;
  max-width: 100%;
  max-height: 80vh;
  box-shadow: 0px 0px 2px 1px rgb(137, 123, 158);
}

.new-comment-form-container button {
  align-self: flex-end;
  padding: 0px 10px;
  margin-top: 5px;
  cursor: pointer;
}

.comment {
  display: grid;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgb(206, 206, 206);
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: 'votes comment-body delete-button';
}

.comment .votes-container {
  padding-top: 0.3rem;
  margin: 0 0.2rem 0.5rem 0;
  grid-area: votes;
}

.comment .vote-button {
  padding-top: 10%;
}

.comment-body p {
  text-align: left;
  font-size: smaller;
}

.comment-body .comment-date {
  font-size: x-small;
  color: rgb(85, 106, 122);
}

.comment-body {
  word-wrap: break-word;
  grid-area: comment-body;
  padding: 0.5rem;
  overflow: hidden;
}

.delete-button {
  grid-area: delete-button;
  border: none;
  background: none;
  min-width: 35px;
  min-height: 30px;
  margin: auto;
  cursor: pointer;
}

.delete-button:hover {
  transform: scale(1.25);
}

.page-buttons {
  display: flex;
  justify-content: center;
}

.not-found-page img {
  max-height: 45vh;
}

@media only screen and (min-width: 900px) {
  h3 {
    font-size: xx-large;
  }
  h4,
  h5,
  p {
    font-size: large;
  }
  .signed-in p {
    font-size: medium;
  }
  .animated-button span {
    font-size: small;
  }
  .topics {
    font-size: larger;
  }
  article {
    margin: 0 15%;
  }
  .article-content {
    font-weight: 300;
  }
  .comment-section-list {
    padding: 0px 12%;
  }
  .article-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 8%;
  }
  .article-list-item {
    width: 350px;
    margin: 5px;
  }
  .article-list-item h4 {
    display: table-cell;
    vertical-align: middle;
    height: 3rem;
    padding-bottom: 10px;
  }
  .new-comment-form-container {
    font-size: medium;
    margin: 30px 12% 1rem;
  }
  .user-profile-avatar-img {
    max-height: 180px;
  }
  .user-stats {
    margin: 0 auto;
    max-width: 750px;
  }
  .comment {
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
  .comment-body p {
    font-size: medium;
  }
  .comment-body .comment-date {
    font-size: small;
  }
}

@media only screen and (min-width: 1700px) {
  .comment-section-list {
    padding: 0px 11%;
  }
  .article-list-item {
    width: 28%;
    max-width: 500px;
  }
}
